<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.existmg.module_remind">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service
            android:name=".services.RemindIntentService"
            android:exported="false"></service>

        <activity
            android:name=".ui.RemindDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RemindCreateActivity"
            android:exported="false"
            android:theme="@style/ui.Theme.RunFastXM.Translucent" />

        <activity android:name=".ui.RemindCompletedActivity"
            android:exported="false"/>

        <receiver
            android:name=".notification.RemindNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.existmg.notification.ACTION_START_ACTIVITY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>