<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.existmg.library_ui.notification.NotificationReceiver" />

        <activity
            android:name="com.existmg.library_ui.dialog.base.DialogBaseActivity"
            android:theme="@style/ui_DialogBaseActivityTheme" />

    </application>
</manifest>