<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainDebugApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/main_app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/ui.Theme.RunFastXM"
        tools:replace="android:name, android:label">
    </application>

</manifest>